.toolbar {
    position: fixed;
    top: 0;
    transition: background-color 1s ease 0.1s;
}

.darker_toolbar {
    background-color: var(--alt-background-color);
}

.toolbar_logo {
    width: 100px;
    height: 100px;
    max-width: 20vmin;
    max-height: 20vmin;
}

.toolbar_logo_bigger {
    width: 200px;
    height: 200px;
}

.header_widget {
    width: 100%;
    --header_widget_height: 45vmin;
    height: var(--header_widget_height);
    border: none;
}

.content {
    background-color: transparent;
}

/* The following CSS animates a number of moving shapes in the header_widget in case a user has javascript disabled */

.moving_shapes {
    position: relative;
    overflow: hidden;
}

.moving_shapes div {
    position: absolute;
    top: 100%;
    display: block;
    --base-size: 10vw;
    animation: animate 25s linear infinite;
    background-color: var(--accent-color);
    z-index: -1;
}

.moving_shapes div:nth-child(1) {
    left: 67.63%;
    transform: translateX(-50%);
    width: calc(1.54 * var(--base-size));
    height: calc(1.54 * var(--base-size));
    animation-delay: 9.84s;
    animation-duration: 16.05s;
}

.moving_shapes div:nth-child(2) {
    left: 64.34%;
    transform: translateX(-50%);
    width: calc(0.42 * var(--base-size));
    height: calc(0.42 * var(--base-size));
    animation-delay: -25.41s;
    animation-duration: 31.76s;
}

.moving_shapes div:nth-child(3) {
    left: 92.52%;
    transform: translateX(-50%);
    width: calc(1.46 * var(--base-size));
    height: calc(1.46 * var(--base-size));
    animation-delay: -8.28s;
    animation-duration: 10.45s;
}

.moving_shapes div:nth-child(4) {
    left: 94.2%;
    transform: translateX(-50%);
    width: calc(1.16 * var(--base-size));
    height: calc(1.16 * var(--base-size));
    animation-delay: -12.2s;
    animation-duration: 17.09s;
}

.moving_shapes div:nth-child(5) {
    left: 0.12%;
    transform: translateX(-50%);
    width: calc(0.29 * var(--base-size));
    height: calc(0.29 * var(--base-size));
    animation-delay: 8.47s;
    animation-duration: 15.09s;
}

.moving_shapes div:nth-child(6) {
    left: 99.06%;
    transform: translateX(-50%);
    width: calc(0.22 * var(--base-size));
    height: calc(0.22 * var(--base-size));
    animation-delay: -0.05s;
    animation-duration: 25.33s;
}

.moving_shapes div:nth-child(7) {
    left: 84.45%;
    transform: translateX(-50%);
    width: calc(0.76 * var(--base-size));
    height: calc(0.76 * var(--base-size));
    animation-delay: -15.49s;
    animation-duration: 17.17s;
}

.moving_shapes div:nth-child(8) {
    left: 4.91%;
    transform: translateX(-50%);
    width: calc(1.69 * var(--base-size));
    height: calc(1.69 * var(--base-size));
    animation-delay: -16.98s;
    animation-duration: 18.25s;
}

.moving_shapes div:nth-child(9) {
    left: 89.33%;
    transform: translateX(-50%);
    width: calc(1.5 * var(--base-size));
    height: calc(1.5 * var(--base-size));
    animation-delay: 10.97s;
    animation-duration: 17.33s;
}

.moving_shapes div:nth-child(10) {
    left: 80.43%;
    transform: translateX(-50%);
    width: calc(1.73 * var(--base-size));
    height: calc(1.73 * var(--base-size));
    animation-delay: 9.65s;
    animation-duration: 16.63s;
}

.moving_shapes div:nth-child(11) {
    left: 55.47%;
    transform: translateX(-50%);
    width: calc(0.48 * var(--base-size));
    height: calc(0.48 * var(--base-size));
    animation-delay: 7.95s;
    animation-duration: 14.43s;
}

.moving_shapes div:nth-child(12) {
    left: 9.67%;
    transform: translateX(-50%);
    width: calc(1.46 * var(--base-size));
    height: calc(1.46 * var(--base-size));
    animation-delay: 7.71s;
    animation-duration: 30.53s;
}

.moving_shapes div:nth-child(13) {
    left: 24.88%;
    transform: translateX(-50%);
    width: calc(0.71 * var(--base-size));
    height: calc(0.71 * var(--base-size));
    animation-delay: -2.09s;
    animation-duration: 12.84s;
}

.moving_shapes div:nth-child(14) {
    left: 17.79%;
    transform: translateX(-50%);
    width: calc(1.18 * var(--base-size));
    height: calc(1.18 * var(--base-size));
    animation-delay: 11.76s;
    animation-duration: 19.01s;
}

.moving_shapes div:nth-child(15) {
    left: 94.82%;
    transform: translateX(-50%);
    width: calc(1.52 * var(--base-size));
    height: calc(1.52 * var(--base-size));
    animation-delay: 17.44s;
    animation-duration: 20.86s;
}

@keyframes animate {
    0% {
        transform: translateY(calc(0 * var(--header_widget_height))) rotate(0deg);
        border-radius: 5%;
    }

    100% {
        transform: translateY(calc((-1 * var(--header_widget_height)) - 100%)) rotate(720deg);
        border-radius: 50%;
    }
}
