#master_container {
	width: 100%;
	min-height: 100%;
	position: absolute;
}

#header_container {
	background: gray;
}

#page_container {
	margin: 0.8em;
	padding-bottom: 1.25em; /* Height of the footer */
}

#footer_container {
	background: gray;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	color: black;
	height: 1.25em; /* Height of the footer */
}